{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block content %}


<body class="bg-custom-red">
  <div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
      <main>

        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5">
              <div class="card shadow-lg border-0 rounded-lg my-5">
                <div class="card-header">
                  <h3 class="text-center font-weight-light my-4">Change your password</h3>
                </div>
                <!-- handling form errors -->
                {% if form.errors %}
                  <div class="alert alert-danger alert-dismissible fade show" role="error">
                    <strong>Hola!</strong> Username and password don't match.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                {% endif %}
                <div class="card-body">
                  <form method="post" action="{% url 'password_change' %}">
                    {% csrf_token %}
                    <div class="form-group">
                      {{ form| bootstrap }}
                    </div>
                    <div
                      class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"
                    >
                      <a class="small" href="{% url 'password_reset' %}">Lost password?</a>
                      <button class="btn btn-primary" type="submit">Change password</a>
                      <input type="hidden" name="next" value="{{ next }}">
                    </div>
                  </form>
                </div>
                <div class="card-footer text-center">
                  <div class="small">
                    <a href="register.html">Need an account? Sign up!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    
    <!-- SMALL FOOTER -->
    {% include 'components/small_footer.html' %}
    
  </div>

{% endblock %}
