{% extends 'base.html' %} {% load static %} {% block title %} User Profile {%endblock %} {% block content %}
{% load bootstrap %}

<body class="sb-nav-fixed bg-custom-bg">
  <!-- TOPBAR -->
  {% include 'components/top_navbar.html' %}

  <div id="layoutSidenav">
    <!-- SIDEBAR -->
    {% include 'components/sidebar.html' %}

    <div id="layoutSidenav_content">
      <main class="main-white">
        <div class="container-fluid">
          <h1 class="my-4">Welcome back, {{user.username | title }}</h1>

          <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Profile</li>
          </ol>
          <div class="card mb-2">
            <div class="card-body">
              DataTables is a third party plugin that is used to generate the
              demo table below. For more information about DataTables, please
              visit the
              <a target="_blank" href="https://datatables.net/"
                >official DataTables documentation</a>
            </div>
          </div>
        </div>
        

          <div class="container-fluid emp-profile mt-3">
              <div class="row">
                <div class="col-md-4">
                  <div class="profile-img">
                    <img
                      src="{{ user.userprofile.avatar.url }}"
                      alt=""
                    />

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="profile-head">
                    <h5>{{ user.userprofile.first_name }} {{ user.userprofile.last_name }}</h5>
                    <h6>{{ user.userprofile.job_title }}</h6>
                    <p class="proile-rating">SENIORITY : <span>1</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a
                          class="nav-link active"
                          id="home-tab"
                          data-toggle="tab"
                          href="#home"
                          role="tab"
                          aria-controls="home"
                          aria-selected="true"
                          >About</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link"
                          id="profile-tab"
                          data-toggle="tab"
                          href="#profile"
                          role="tab"
                          aria-controls="profile"
                          aria-selected="false"
                          >Edit Profile</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-2">
                  <span class="badge badge-success">ADMIN</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="profile-work">
                    <p>WORK LINK</p>
                    <a href="">Website Link</a><br />
                    <a href="">Bootsnipp Profile</a><br />
                    <a href="">Bootply Profile</a>
                    <p>SKILLS</p>
                    <a href="">Web Designer</a><br />
                    <a href="">Web Developer</a><br />
                    <a href="">WordPress</a><br />
                    <a href="">WooCommerce</a><br />
                    <a href="">PHP, .Net</a><br />
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="tab-content profile-tab" id="myTabContent">
                    <div
                      class="tab-pane fade show active"
                      id="home"
                      role="tabpanel"
                      aria-labelledby="home-tab"
                    >
                      <div class="row">
                        <div class="col-md-6">
                          <label>User Id</label>
                        </div>
                        <div class="col-md-6">
                          <p>{{ user.username }}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>First Name</label>
                        </div>
                        <div class="col-md-6">
                          <p>{{ user.userprofile.first_name }}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>Last Name</label>
                        </div>
                        <div class="col-md-6">
                          <p>{{ user.userprofile.last_name }}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>Email</label>
                        </div>
                        <div class="col-md-6">
                          <p>{{ user.email }}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>Phone</label>
                        </div>
                        <div class="col-md-6">
                          <p>{{ user.userprofile.phone }}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>Job Title</label>
                        </div>
                        <div class="col-md-6">
                          <p>{{ user.userprofile.job_title }}</p>
                        </div>
                      </div>
                    </div>
                    <div
                      class="tab-pane fade"
                      id="profile"
                      role="tabpanel"
                      aria-labelledby="profile-tab"
                    >
                      <div class="row">
                        <div class="col-md-8">
                          <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ u_form | bootstrap }}
                            {{ p_form | bootstrap }}
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </main>

      <!-- FOOTER -->
      {% include 'components/footer.html' %}
    </div>
  </div>

{% endblock %}
